<div class="right-nav">
    <div class="right-nav-header">
        <h2>AatroX</h2>
        <p>Component</p>
    </div>
    <div class="right-nav-nemu">
        <ul>
            <li>
                <a href=""><mat-icon>animation</mat-icon>Animation</a>
            </li>
            <li>
                <a href=""><mat-icon>alarm</mat-icon>Alert</a>
            </li>
            <li>
                <a href=""><mat-icon>account_box</mat-icon>Avatars</a>
            </li>
            <li>
                <a href=""><mat-icon>local_police</mat-icon>Badge</a>
            </li>
            <li>
                <a href=""><mat-icon>toggle_on</mat-icon>Buttons</a>
            </li>
            <li>
                <a href=""><mat-icon>menu_open</mat-icon>Dropdown</a>
            </li>
            <li>
                <a href=""><mat-icon>backup_table</mat-icon>Datatable Basic</a>
            </li>
            <li>
                <a href=""><mat-icon>article</mat-icon>Forms</a>
            </li>
            <li>
                <a href=""><mat-icon>auto_stories</mat-icon>Pagination</a>
            </li>
            <li>
                <a href=""><mat-icon>donut_small</mat-icon>Progressbar</a>
            </li>
            <li>
                <a href=""><mat-icon>event_seat</mat-icon>Modal</a>
            </li>
            <li>
                <a href=""><mat-icon>construction</mat-icon>Tooltip</a>
            </li>
            <li>
                <a href=""><mat-icon>drag_indicator</mat-icon>Tab</a>
            </li>
        </ul>
    </div>
</div>