.right-nav {
    display: flex;
    flex-direction: column;

    .right-nav-header {
        padding: 20px 10px 10px 20px;

        h2 {
            color: #8B5CF6;
            font-size: 1.3rem;
            font-weight: 300;
        }

        p {
            color: #a08484;
        }
        .mat-icon{
            display: none;
        }
    }

    .right-nav-nemu,
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            text-decoration: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            color: rgb(115, 100, 100);
            padding: 15px 10px 15px 20px;
        }

        .mat-icon {
            display: flex;
            align-items: center;
            font-size: 1rem;
        }

        a:hover {
            background-color: rgb(237, 229, 229);
            color: #8B5CF6;
        }
    }
}