<div id="sid-nav" class="sid-nav-wraper">
    <div class="left-nav">
        <div class="nav-logo">
            <mat-icon>grid_view</mat-icon>
        </div>
        <ul>
            <li>
                <mat-icon>book</mat-icon>
            </li>
            <li>
                <mat-icon>book</mat-icon>
            </li>
            <li>
                <mat-icon>book</mat-icon>
            </li>
            <li>
                <mat-icon>book</mat-icon>
            </li>
            <li>
                <mat-icon>book</mat-icon>
            </li>
            <li>
                <mat-icon>book</mat-icon>
            </li>
            <li>
                <mat-icon>book</mat-icon>
            </li>
        </ul>

    </div>
    <div class="right-nav">
        <div class="right-nav-header">
            <h2>AatroX</h2>
            <p>Dashboard</p>

            <mat-icon (click)="handleSideMenu()">close</mat-icon>
        </div>
        <div class="right-nav-nemu">
            <ul>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Dashboard ver 1</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Dashboard ver 2</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Dashboard ver 3</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Dashboard ver 4</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Dashboard ver 5</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Tashboard ver 1</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Tashboard ver 2</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Tashboard ver 3</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Tashboard ver 4</a>
                </li>
                <li>
                    <a href=""><mat-icon>alarm</mat-icon>Tashboard ver 5</a>
                </li>
            </ul>
        </div>
    </div>
</div>