.sid-nav-wraper {
    background-color: #ffffff;
    // background-color: red;
    display: grid;
    grid-template-columns: 75px auto;
    position: fixed;
    width: 300px;
    transition: .5s;

    .left-nav {
        display: flex;
        flex-direction: column;
        background-color: #334155;
        min-height: 100vh;

        .nav-logo {
            .mat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #8B5CF6;
                font-size: 3rem;
                width: 100%;
                height: 80px;
                border-bottom: .1px solid rgb(107, 90, 90);
            }
        }

        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;

            button {
                background-color: transparent;
                height: 65px;
                width: 65px;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid transparent;
                border-bottom: .1px solid rgb(107, 90, 90);
                cursor: pointer;

                .mat-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 2rem;
                    height: 65px;
                    width: 100%;
                    border-left: 3px solid transparent;
                    border-bottom: .1px solid rgb(107, 90, 90);
                    cursor: pointer;
                }

                img {
                    height: 30px;
                    width: 30px;
                }

            }
            button:hover {
                border-left: 2px solid #ffffff;
            }
            button:focus {
                border-left: 2px solid #ffffff;
            }
        }
    }


}

.active-sid-nav-wraper {
    position: absolute;
    transform: translateX(-300px);
}

@media only screen and (min-width:200px) and (max-width: 760px) {
    .sid-nav-wraper {
        transform: translateX(-300px);
        z-index: 4;

    }

    .active-sid-nav-wraper {
        transform: translateX(0px);
        position: fixed;



    }

}