.example-spacer {
    flex: 1 1 auto;
}

.mega-menu {
    margin: 20px;
    display: flex;
    align-items: center;
    color: #47404F;
    font-weight: 100;
    font-size: .9rem;
    .mat-icon{
        opacity: .4;
    }
}

.head-search {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    background-color: #e2e8f0;
    border-radius: 20px;
    input {
        border: 0px;
        outline: 0px;
        background-color: #e2e8f0;
    }
    .mat-icon{
        opacity: .4;
    }

}
.mat-icon-button{
    .mat-icon{
        font-weight: 100;
        color: yellow !important;
    }
}
