<mat-toolbar>
    <button mat-icon-button (click)="handleSideNav()" class="example-icon" id="menu-btn"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mega-menu" (click)="handleMegaMenu()">
        <span>Mega Menu</span>
        <mat-icon>expand_more</mat-icon>
    </div>
    <div class="head-search">
        <input type="text" placeholder="Search" name="search">
        <mat-icon>search</mat-icon>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="open-with">open_with</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>insert_chart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<app-mega-menu></app-mega-menu>
