.mat-toolbar{
    background-color: transparent;
    height: 80px;
    padding: 0;
}
.mega-menu {
    position: relative;
    margin: auto 25px auto 10px;
    display: flex;
    align-items: center;
    color: #47404F;
    font-weight: 100;
    font-size: .9rem;
    cursor: pointer;
    .mat-icon{
        opacity: .4;
    }
}

.head-search {
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #e2e8f0;
    border-radius: 20px;
    input {
        border: 0px;
        outline: 0px;
        padding: 0 7px 0 5px;
        background-color: #e2e8f0;
    }
    .mat-icon{
        opacity: .4;
        cursor: pointer;
    }

}
.mat-icon-button{
    .mat-icon{
        font-weight: 100;
        color: yellow !important;
    }
}
@media only screen and (min-width:200px) and (max-width:630px) {
    .head-search {
        height: 35px;
        width: 150px;
        input {
            width: 100%;
        }
    
    }
    .mega-menu {
        margin: auto 5px;
    }
}
@media only screen and (min-width:200px) and (max-width:520px) {
    .head-search {
        height: 35px;
        width: 150px;
        input {
            width: 100%;
        }
    
    }
    .mega-menu {
        display: none;
    }
}