<div class="right-nav">
    <div class="right-nav-header">
        <h2>AatroX</h2>
        <p>Charts</p>

    </div>
    <div class="right-nav-nemu">
        <ul>
            <li>
                <a href=""><mat-icon>monitoring</mat-icon>Charts</a>
            </li>
            <li>
                <a href=""><mat-icon>bar_chart</mat-icon>Bar</a>
            </li>
            <li>
                <a href=""><mat-icon>scatter_plot</mat-icon>Bubble</a>
            </li>
            <li>
                <a href=""><mat-icon>stacked_bar_chart</mat-icon>Candle Stick</a>
            </li>
            <li>
                <a href=""><mat-icon>table_chart</mat-icon>Column</a>
            </li>
            <li>
                <a href=""><mat-icon>pie_chart</mat-icon>Pie</a>
            </li>
            <li>
                <a href=""><mat-icon>auto_graph</mat-icon>Radar</a>
            </li>
            <li>
                <a href=""><mat-icon>waterfall_chart</mat-icon>RadialBar</a>
            </li>
            <li>
                <a href=""><mat-icon>ssid_chart</mat-icon>Sparkline</a>
            </li>
            <li>
                <a href=""><mat-icon>stacked_line_chart</mat-icon>Scatter</a>
            </li>
        </ul>
    </div>
</div>