<div class="right-nav">
    <div class="right-nav-header">
        <h2>AatroX</h2>
        <p>Session</p>
    </div>
    <div class="right-nav-nemu">
        <ul>
            <li>
                <a href=""><mat-icon>lock_open</mat-icon>Signin</a>
            </li>
            <li>
                <a href=""><mat-icon>edit_note</mat-icon>SingUp</a>
            </li>
            <li>
                <a href=""><mat-icon>lock_reset</mat-icon>Forgot</a>
            </li>
            <li>
                <a href=""><mat-icon>error</mat-icon>404</a>
            </li>
        </ul>
    </div>
</div>