<mat-card class="example-card">
    <i *ngIf="item.icon" class={{item.icon}} style="color: {{item.color}}"></i>

    <p>{{item.amount}}<span>K</span></p>
    <span>{{item.text}}</span>
    <button style="color: {{item.color}}">
        <mat-icon>expand_more</mat-icon>
        <span>{{item.parcentage}}%</span>
        <span class="btn-background" style="background: {{item.color}}"></span>
    </button>

    
    <mat-icon *ngIf="item.cornerIcon" class="location" style="background: {{item.color}}">{{item.cornerIcon}}</mat-icon>
    <img *ngIf="item.cornerImg" class="img" src={{item.cornerImg}} alt="img">
</mat-card>