<div class="right-nav" id="right-nav">
    <div class="right-nav-header">
        <h2>AatroX</h2>
        <p>Dashboard</p>
    </div>
    <div class="right-nav-nemu">
        <ul>
            <li>
                <a href=""><mat-icon>alarm</mat-icon>Dashboard ver 1</a>
            </li>
            <li>
                <a href=""><mat-icon>doorbell_3p</mat-icon>Dashboard ver 2</a>
            </li>
            <li>
                <a href=""><mat-icon>stacked_bar_chart</mat-icon>Dashboard ver 3</a>
            </li>
            <li>
                <a href=""><mat-icon>waterfall_chart</mat-icon>Dashboard ver 4</a>
            </li>
            <li>
                <a href=""><mat-icon>bubble_chart</mat-icon>Dashboard ver 5</a>
            </li>
        </ul>
    </div>
</div>