<div class="right-nav">
    <div class="right-nav-header">
        <h2>AatroX</h2>
        <p>Apps</p>
    </div>
    <div class="right-nav-nemu">
        <ul>
            <li>
                <a href=""><mat-icon>mark_email_unread</mat-icon>Inbox</a>
            </li>
            <li>
                <a href=""><mat-icon>receipt_long</mat-icon>Invoice</a>
            </li>
            <li>
                <a href=""><mat-icon>barcode_reader</mat-icon>Ecommerce</a>
            </li>
            <li>
                <a href=""><mat-icon>phone_in_talk</mat-icon>Contact</a>
            </li>
            <li>
                <a href=""><mat-icon>calendar_month</mat-icon>Calendar</a>
            </li>
            <li>
                <a href=""><mat-icon>format_list_numbered</mat-icon>Todo List</a>
            </li>
            <li>
                <a href=""><mat-icon>forum</mat-icon>Chat</a>
            </li>
        </ul>
    </div>
</div>