.home-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(217, 207, 207);
    padding: 20px;

    h4{
        color: #583737;
        font-weight: 500;
        font-size: 1.2rem;
        margin-right: 5px;
    }
    div {
        display: flex;
        align-items: center;

        span {
            font-size: .9rem;
            opacity: .7;
            padding: 0 5px;
            position: relative;

        }

        span:nth-child(1)::after {
            position: absolute;
            content: "";
            right: -1px;
            height: 100%;
            width: 1px;
            background-color: #000;
            opacity: .6;
        }
    }
}

.grow-wraper {
    box-shadow: rgb(177, 160, 160) 1px 1px 5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    .gorw-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(208, 194, 194);
        padding: 20px 20px;
        margin-bottom: 20px;
        color: rgb(122, 106, 106);
        h4{
            font-weight: 450;
        }
    }
    
}
.img-card-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        color: #583737;
        font-weight: 500;
        font-size: 1.2rem;
        margin-right: 5px;
        span{
        color: blueviolet;
        }
    }
    select{
        outline: none;
        border: none;
        padding: 5px 10px ;
    }
}
.footer-btn{
    padding: 30px;
    box-shadow: rgb(177, 160, 160) 1px 1px 5px;
    background-color: #FFFFFF;
    font-size: .9rem;
    opacity: .8;
    margin: 20px 0 -10px 0;
    border-radius: 10px 10px 0px 0px;
}
