<div class="container">
    <div class="home-header">
        <h4>Dashboard V5</h4>
        <div>
            <span>Dashboards</span>
            <span>Dashboards V5</span>
        </div>
    </div>
    <div class="col-4">
        <app-solid-card *ngFor="let infoObj of topCardInfo" [item]="infoObj"></app-solid-card>
    </div>
    <div class="img-card-head">
        <h4>Most <span>Recent Media</span> </h4>

        <select>
            <option value="Volvo">Volvo</option>
            <option value="Volvo">Sab</option>
            <option value="Volvo">Opel</option>
            <option value="Volvo">Audi</option>
        </select>

    </div>
    <div class="col-4">
        <app-image-card *ngFor="let infoObj of imgCardInfo" [item]="infoObj"></app-image-card>
    </div>
    <div class="grow-wraper">
        <div class="gorw-header">
            <h4>Follower Growth</h4>

            <h4>Follower Growth</h4>
        </div>
        <div class="col-2">
            <app-follower-growth-details></app-follower-growth-details>
            <app-follower-growth></app-follower-growth>
        </div>
    </div>
    <div class="col-4">
        <app-solid-card *ngFor="let infoObj of solidCardInfo" [item]="infoObj"></app-solid-card>
    </div>
    <div class=" grow-wraper">
        <div class="gorw-header">
            <h4>Reach Impressions History</h4>
        </div>
        <div>
            <!-- <app-follower-growth></app-follower-growth> -->
            <app-reach-impression></app-reach-impression>
        </div>
    </div>
    <div class="col-6">
        <app-solid-card *ngFor="let infoObj of solidLargeCardInfo" [item]="infoObj"></app-solid-card>
    </div>
    <div class="col-2">
        <div class="grow-wraper">
            <div class="gorw-header">
                <h4>Like history</h4>
            </div>
            <app-like-history></app-like-history>
        </div>
        <div class="grow-wraper">
            <div class="gorw-header">
                <h4>Comment history</h4>
            </div>
            <app-comment-history></app-comment-history>
        </div>
    </div>
    <div class="grow-wraper">
        <div class="gorw-header">
            <h4>Posting Habits</h4>
        </div>
        <app-posting-habits></app-posting-habits>
    </div>
    <div class="img-card-head footer-btn">
        <button mat-flat-button color="primary">Buy Aatrox</button>
        <p>All rights reserved © UI Lib 2021</p>
    </div>
</div>